<nav class="nav">
  <a href="{{@blog.url}}" class="blog-logo"></a>

  {{#foreach navigation}}
    <a class=" nav-element {{#if current}} nav-current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
  {{/foreach}}

</nav>
