@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Permanent+Marker|Roboto|Open+Sans');

$Permanent-Marker: 'Permanent Marker', cursive;
$Gochi-Hand: 'Gochi Hand', cursive;
$Roboto:'Roboto', sans-serif;
$Open-Sans:'Open Sans', sans-serif;
